In [1]:
import pandas as pd
import numpy as np

In [2]:
from subprocess import check_output
print(check_output(["ls", "data/"]).decode("utf8"))

air_reserve.csv.zip
air_store_info.csv.zip
air_visit_data.csv.zip
date_info.csv.zip
hpg_reserve.csv.zip
hpg_store_info.csv.zip
sample_submission.csv.zip
store_id_relation.csv.zip

* Hot Pepper Gourmet (hpg): similar to Yelp, here users can search restaurants and also make a reservation online

* AirREGI / Restaurant Board (air): similar to Square, a reservation control and cash register system

In [3]:
air_reserve = pd.read_csv("data/air_reserve.csv.zip", compression="zip")
air_reserve.tail()

,air_store_id,visit_datetime,reserve_datetime,reserve_visitors
92373,air_db4b38ebe7a7ceff,2017-05-29 18:00:00,2017-04-17 19:00:00,6
92374,air_1033310359ceeac1,2017-05-30 23:00:00,2017-04-19 17:00:00,8
92375,air_877f79706adbfb06,2017-05-31 20:00:00,2017-04-12 23:00:00,3
92376,air_900d755ebd2f7bbd,2017-05-31 20:00:00,2017-04-19 16:00:00,10
92377,air_3cad29d1a23209d2,2017-05-31 21:00:00,2017-04-22 10:00:00,3

In [4]:
air_reserve.shape

(92378, 4)

In [5]:
hpg_reserve = pd.read_csv("data/hpg_reserve.csv.zip", compression="zip")
hpg_reserve.tail()

,hpg_store_id,visit_datetime,reserve_datetime,reserve_visitors
2000315,hpg_2b293477ea4642fb,2017-05-31 20:00:00,2017-04-19 07:00:00,2
2000316,hpg_f922aeca48ca5a29,2017-05-31 20:00:00,2017-03-19 00:00:00,3
2000317,hpg_e9151de687b93aa3,2017-05-31 21:00:00,2017-04-14 20:00:00,49
2000318,hpg_fae6c96189b4a122,2017-05-31 21:00:00,2017-04-19 17:00:00,9
2000319,hpg_0b70de808b55ad1e,2017-05-31 23:00:00,2017-04-21 13:00:00,6

In [32]:
print(min(hpg_reserve['visit_datetime']))
print(max(hpg_reserve['visit_datetime']))

2016-01-01 11:00:00
2017-05-31 23:00:00

In [14]:
hpg_reserve.shape

(2000320, 4)

In [15]:
air_store_info = pd.read_csv("data/air_store_info.csv.zip", compression="zip")
air_store_info.tail()

,air_store_id,air_genre_name,air_area_name,latitude,longitude
824,air_9bf595ef095572fb,International cuisine,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051
825,air_764f71040a413d4d,Asian,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051
826,air_10bbe8acd943d8f6,Asian,Tōkyō-to Shibuya-ku Shibuya,35.661777,139.704051
827,air_7514d90009613cd6,Karaoke/Party,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.055460,141.340956
828,air_c8fe396d6c46275d,Karaoke/Party,Hokkaidō Sapporo-shi Minami 3 Jōnishi,43.055460,141.340956

In [16]:
air_store_info.shape

(829, 5)

In [17]:
hpg_store_info = pd.read_csv("data/hpg_store_info.csv.zip", compression="zip")
hpg_store_info.tail()

,hpg_store_id,hpg_genre_name,hpg_area_name,latitude,longitude
4685,hpg_c6ed353a48c7c93e,Sichuan food,Tōkyō-to Chiyoda-ku None,35.695780,139.768453
4686,hpg_a58d2423360b2fb4,Sichuan food,Tōkyō-to Minato-ku Roppongi,35.666137,139.733978
4687,hpg_d2021704076cdd70,Shanghai food,Tōkyō-to Chiyoda-ku None,35.695780,139.768453
4688,hpg_602472570d65e219,Spain/Mediterranean cuisine,Tōkyō-to Toshima-ku None,35.730068,139.711742
4689,hpg_11801306ce8bfb4f,Udon/Soba,Osaka Prefecture Osaka None,34.701519,135.498859

In [19]:
hpg_store_info.shape

(4690, 5)

In [20]:
store_id_relation = pd.read_csv("data/store_id_relation.csv.zip", compression="zip")
store_id_relation.tail()

             air_store_id          hpg_store_id
145  air_b8925441167c3152  hpg_0cc0abae3a8b52de
146  air_f8233ad00755c35c  hpg_098e4dd30e54fee6
147  air_6607fe3671242ce3  hpg_1004356dc8ab69ec
148  air_ccd19a5bc5573ae5  hpg_df22bf146d2c7e19
149  air_465bddfed3353b23  hpg_23c5945dc1a72454

In [21]:
store_id_relation.shape

(150, 2)

In [22]:
air_visit_data = pd.read_csv("data/air_visit_data.csv.zip", compression="zip")
air_visit_data.tail()

                air_store_id  visit_date  visitors
252103  air_24e8414b9b07decb  2017-04-18         6
252104  air_24e8414b9b07decb  2017-04-19         6
252105  air_24e8414b9b07decb  2017-04-20         7
252106  air_24e8414b9b07decb  2017-04-21         8
252107  air_24e8414b9b07decb  2017-04-22         5

In [28]:
print(min(air_visit_data['visit_date']))
print(max(air_visit_data['visit_date']))

2016-01-01
2017-04-22

In [23]:
air_visit_data.shape

(252108, 3)

In [24]:
sample_submission = pd.read_csv("data/sample_submission.csv.zip", compression = "zip")
sample_submission.tail()

                                    id  visitors
32014  air_fff68b929994bfbd_2017-05-27         0
32015  air_fff68b929994bfbd_2017-05-28         0
32016  air_fff68b929994bfbd_2017-05-29         0
32017  air_fff68b929994bfbd_2017-05-30         0
32018  air_fff68b929994bfbd_2017-05-31         0

In [26]:
date_info = pd.read_csv("data/date_info.csv.zip", compression = "zip")
date_info.tail()

    calendar_date day_of_week  holiday_flg
512    2017-05-27    Saturday            0
513    2017-05-28      Sunday            0
514    2017-05-29      Monday            0
515    2017-05-30     Tuesday            0
516    2017-05-31   Wednesday            0

In [27]:
print(min(date_info['calendar_date']))
print(max(date_info['calendar_date']))

2016-01-01
2017-05-31